<h1>Single row (id <%= @entry.id %>) </h1>

<%= render 'navigation' %>

<p><b>id</b></p>
<p><%= @entry.id %></p>
<p><b>trap_id</b></p>
<p><%= @entry.trap_id %></p>
<p><b>ip</b></p>
<p><%= @entry.ip %></p>
<p><b>method</b></p>
<p><%= @entry.method %></p>
<p><b>uri</b></p>
<p><%= @entry.uri %></p>
<p><b>cookies</b></p>
<p><%= @entry.cookies %></p>
<p><b>created_at</b></p>
<p><%= @entry.created_at %></p>